<div class="icon-panel">

<!--Emoji Search bar-->
  <div class="search-bar">
    <input
    type="text"
    placeholder="Search emojis..."
    [(ngModel)]="searchTerm"
    (input)="applySearch()"/>
  </div>

  <div *ngIf="searchTerm && searchResults.length > 0" class="section">
    <div class="section-header"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#searchResults'"
          aria-expanded="true">

      <span>Results ({{searchResults.length}})</span>
      <svg class="chevron" viewBox="0 0 24 24">
        <path d="M6 9l6 6 6-6"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </div>

    <div id="searchResults" class="collapse show">
      <div class="section-body">
        <div *ngFor="let emoji of searchResults" class="emoji-row">
          <span class="emoji">{{emoji.emoji}}</span>
          <span class="emoji-name">{{emoji.name}}</span>
          <button (click)="copy(emoji.emoji)">Copy</button>
        </div>
      </div>
    </div>
  </div>


  <!--Emoji Categories-->
  <div *ngFor="let cat of filteredCategories" class="section">
    <div class="section-header"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#' + cat.id"
        aria-expanded="false">

        <span>{{cat.icon}} {{cat.name}}</span>
        <ng-container *ngIf="searchTerm">({{cat.emojis.length}})</ng-container>
        <svg class="chevron" viewBox="0 0 24 24">
        <path d="M6 9l6 6 6-6"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
    </div>

    <div [id]="cat.id" class="collapse">
      <div class="section-body">
        <div *ngFor="let emoji of cat.emojis" class="emoji-row">
          <span class="emoji">{{emoji.emoji}}</span>
          <span class="emoji-name">{{emoji.name}}</span>

          <button (click)="copy(emoji.emoji)">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>
