:root {
  --brand-bg: #130891;

  --bg-main: #1b1b1b;
  --bg-sidebar: #151515;
  --bg-line-numbers: #181818;

  --text-primary: #f5f5f5;
  --text-secondary: #b5b5b5;
  --text-accent: #ff5c5c;

  --border-subtle: #2a2a2a;

  --btn-bg: #222;
  --btn-bg-hover: #2e2e2e;
  --btn-text: #f5f5f5;

}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bg-main);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--btn-bg-hover);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-bg);
}
